body{ 
    margin: 0;
    padding: 0;
}

.nav{
    background-color: rgb(253, 112, 65);
    width: 100%;
    height: 60px;
    justify-content: space-around;
}

button{
    height: 35px;
    width: 83px;
    position: relative;
    left: 1040px;
    bottom: 17px;
    background-color: rgba(255, 255, 255, 0);
    border-color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 11pt;
    margin-left: 23px;
}

.nav img{
    padding-left: 20px;
    height: 50px;
    width: 50px;
    position: relative;
    top: 4px;
    cursor: pointer;
}   

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 35px;
    letter-spacing: 1px;
}

#A{
    background-color:#FAEDCA;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid black;
}

#A img{
    width: 600px;
}

#A p{
    font-size: 20px;
    width: 374px;
}

#A p:hover{
    cursor: pointer;
    font-weight: bold;
    color: rgb(0, 175, 88);
    
}

#A h1{
    padding-top: 50px;
}

.conteudo{
    flex-direction: column;
    display: flex;
    height: 300px;
    width: 582px;
    text-align: center;
    border: 2px solid rgb(128, 56, 56);
    align-items: center;
    cursor: pointer;
}

ul{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

nav ul li{
    text-align: center;
    list-style: none;
    display: inline;
    padding: 60px;
}


#B{
    background: rgba(227, 226, 226, 1.0);
    background: -webkit-linear-gradient(right, rgba(227, 226, 226, 1.0), rgba(255, 206, 170, 1.0));
    background: -moz-linear-gradient(right, rgba(227, 226, 226, 1.0), rgba(255, 206, 170, 1.0));
    background: linear-gradient(to left, rgba(227, 226, 226, 1.0), rgba(255, 206, 170, 1.0));
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid black;
    flex-direction: column;
}

#B img{
    height: 300px;
    width: 400px;
}
#B h1::before{
border-top: 2px solid #dfdfdf;
content: "";
margin: 0 auto;
position: absolute;
top: 50%;
left: 0;
right: 0;
bottom: 0;
width: 100%;
z-index: -1;
}


#C{
    background-color: rgba(0, 60, 255, 0.568);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    background-color: black;
    widows: 100vw;
    height: 300px;
    align-items: center;
    display: flex;
}

.social{
    /* background-color: white; */
    width: 60px ;
    height: 300px;
    justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: column;
}

.icones{
    align-items: flex-start;
    justify-content: flex-start;
}
.social img{
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

span{
    /* background-color: white; */
    width: 60px ;
    height: 300px;
    /* justify-content: center;
    align-items: end;
    display: flex;
    flex-direction: column;
    color: aliceblue; */
    cursor: pointer;
    color: rgb(233, 233, 233);
}
span:hover{
    color: springgreen;
}





