body{ 
    margin: 0;
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

.nav{
    background-color: rgb(253, 112, 65);
    width: 100%;
    height: 70px;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
}

button{
    height: 35px;
    width: 83px;
    position: relative;
    left: 930px;
    bottom: 12px;
    background-color: rgba(255, 255, 255, 0);
    border-color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 11pt;
    margin-left: 23px;
}
button:hover{
    box-shadow: 3px 3px 8px 3px rgb(0, 0, 0);
}
.nav img{
    padding-left: 20px;
    height: 50px;
    width: 130px;
    position: relative;
    top: 4px;
    cursor: pointer;
}   

a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 35px;
    letter-spacing: 1px;
}

#A{
    background-color:rgba(240, 217, 155, 0.76);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid black;
}

#A .pessoas{
    width: 600px;
}

#A p{
    font-size: 25px;
    width: 374px;
    color: yellow;
}

#A h1{
    color: yellow;
    padding-top: 40px;
    border-bottom: 2px solid rgb(255, 0, 0);
}



.conteudo{
    flex-direction: column;
    display: flex;
    height: 300px;
    width: 582px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    align-items: center;
    cursor: pointer;
    background: rgb(0, 99, 25);
}
.conteudo:hover{
    transform: scale(1.1);
}

p > .lapis{
    width: 45px;
    height: 45px;
    position: relative;
    bottom: 110px;
    left: 240px;
}

ul{
    display: -webkit-inline-box;
    margin: 0;
    padding: 0;

}

nav ul li{
    text-align: center;
    list-style: none;
    display: inline;
    padding: 60px;
}


#B{
    background: linear-gradient(to left, rgba(227, 226, 226, 1.0), rgba(255, 206, 170, 1.0));
    width: 100%;
    height: 600px;  
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid black;
    flex-direction: column;
}

#B img{
    height: 300px;
    width: 400px;
    box-shadow: 3px 3px 8px 3px rgb(0, 0, 0);
}

.conteudoB{
    display: flex;
    justify-content: center;
    width: 830px;
    text-align: center;
    font-size: 17pt;
    font-weight: bold;
    border-top: 3px solid black;
    cursor: pointer;
    color: rgb(255, 136, 0);
}

#B p{
    padding: 10px;
}

#C{
    background-color:rgba(209, 194, 153, 0.76);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 4px solid black;
}
.sala{
    cursor: pointer;
    display: flex;
    height: 350px;
    width: 40%;
    border-left: 3px solid black;
    align-items: center;
    justify-content: center;
}

#C img{
    height: 350px;
    box-shadow: 3px 3px 8px 3px rgb(0, 0, 0);
}

.conteudoC p{
    font-size: 18pt;
    text-align: center;
    cursor: pointer;
}

.conteudoC:hover{
    transform: scale(1.1);
}


footer{
    background-color: black;
}

footer img{
    width: 40px;
    padding: 10px;
    cursor: pointer;
}

footer p{
    color: white;
    position: relative;
    left: 1000px;
    top: 5px;
}

footer p:hover{
    color: springgreen;
}






